<!DOCTYPE html>
<html>
    <body class="portfolio-page">
        <div class="container">
            <%= image_tag "portfolio_pic_1.JPG", class: "portfolio_pic_1"%>
            <%= image_tag "portfolio_pic_2.JPG", class: "portfolio_pic_2"%>
            <%= image_tag "portfolio_pic_3.JPG", class: "portfolio_pic_3"%>
            <%= image_tag "portfolio_pic_4.JPG", class: "portfolio_pic_4"%>
            <%= image_tag "portfolio_pic_5.JPG", class: "portfolio_pic_5"%>
            <%= image_tag "portfolio_pic_6.jpg", class: "portfolio_pic_6"%>
            <%= image_tag "portfolio_pic_7.jpg", class: "portfolio_pic_7"%>
            <%= image_tag "portfolio_pic_8.jpg", class: "portfolio_pic_8"%>
            <%= image_tag "portfolio_pic_9.jpg", class: "portfolio_pic_9"%>
            <%= image_tag "portfolio_pic_10.JPG", class: "portfolio_pic_10"%>
            <%= image_tag "portfolio_pic_11.jpg", class: "portfolio_pic_11"%>
            <%= image_tag "portfolio_pic_12.jpg", class: "portfolio_pic_12"%>
            <%= image_tag "portfolio_pic_13.jpg", class: "portfolio_pic_13"%>
            <%= image_tag "portfolio_pic_14.jpg", class: "portfolio_pic_14"%>
        </div>
    </body>
</html>